﻿<div style="padding:30px">
    <b>Τι είναι το QuizBeat;</b>
    <br>
    Το QuizBeat είναι ένα ζωντανό τηλεπαιχνίδι γνώσεων. Παίξε ζωντανά κάθε Τρίτη, Πέμπτη και Κυριακή στις 20:45. Απάντησε σε 8 ερωτήσεις και κέρδισε χρήματα. Είναι τόσο απλό.
    <br><br>


    <b>Πόσο κοστίζει;</b>
    <br>
    Απολύτως τίποτα. Είναι δωρεάν. Απλα το κατεβάζετε και μπορείτε και παίξετε και να διεκδικήσετε το έπαθλο.
    <br><br>


    <b>Πως παίζεται το Quizbeat;</b><br>
    Η διαδικασια ειναι απλή. 8 ερωτήσεις, 10 δευτερόλεπτα για κάθε ερώτηση. Αν απαντήσεις λάθος βρίσκεσαι εκτός παιχνιδιού εκτος και αν χρησιμοποιήσεις 2 έξτρα ζωές. Αν απαντήσεις όλες τις ερωτήσεις σωστά κερδίζεις το έπαθλο. Το έπαθλο διανέμεται ισόποσα στους νικητές.
    <br><br>


    <b>Μπορώ να κερδίσω πραγματικά χρήματα;</b><br>
    Ναι. Συμπληρώνοντας το ποσό των 50 ευρώ και πάνω μπορείτε μέσα απο το app (πατώντας πάνω στο χρηματικό πόσό) να μας στείλετε τον τραπεζικό σας λογαριασμό ΙΒΑΝ και τα λεφτά σας θα περαστούν σε 2 εβδομάδες. 
    <br><br>


    <b>Τι ειναι οι ζωές και πως μπορώ να πάρω;</b><br>
    Οι ζωές σε βοηθούν για <u>μια φορά</u> ανα παιχνίδι. Μπορείς να τις χρησιμοποιήσεις οταν κάνεις λάθος σε μια ερώτηση και να σωθείς απο το να βγείς εκτός παιχνιδιού. Ζωές κερδίζεις προσκαλόντας φίλους σου που θα παίξουν το παιχνίδι μας ή αγοράζοντας απο την συγκεκριμένη ενότητα μας.
    <br><br>


    <b> Ο φίλος μου εγγράφηκε χρησιμοποιώντας τον κωδικό μου πρόσκλησης, αλλά δεν έχω λάβει extra ζωή.</b><br>
    Επιβεβαιώστε με τον φίλο σας ότι έγραψε σωστά τον κωδικό πρόσκλησης. Θα λάβετε μια extra ζωή όταν παίξει το πρώτο του παιχνίδι.
    <br><br>

    <b>Από πού προέρχονται τα χρήματα;</b>
    <br>
    Τα βραβεία χρηματοδοτούνται από την QBTV MON IKE προς το παρών και στο μέλλον ίσως από έμπορους και συνεργάτες.
    <br><br>

    <b>
        Μπορώ να αλλάξω το όνομα χρήστη μου;
    </b><br>
    Η αλλαγή του ονόματος χρήστη σας στο QuizBeat δεν υποστηρίζεται αυτή τη στιγμή.
    <br><br>


    <b>
        Θα ήθελα να στείλω σχόλια ή να προτείνω μια λειτουργία. Με ποιον επικοινωνώ;
    </b><br>
    Είμαστε όλοι αυτιά. Επικοινωνήστε μαζί μας στην ηλεκτρονική διεύθυνση info@quizbeat.co ή μεσω twitter στο quizbeatapp.
    <br><br>
    <b>
        Είμαι δημοσιογράφος που γράφει άρθρο σχετικά με το QuizBeat, με ποιον μπορώ να έρθω σε επαφή;
    </b><br>
    Μας αρέσει να λαμβάνουμε θετικά σχόλια από τους δημοσιογράφους. Επικοινωνήστε μαζι μας στο info@quizbeat.co για περισσότερες πληροφορίες.
    <br><br>
    <!-- <b>
        Πού μπορώ να βρω περισσότερες πληροφορίες σχετικά με τους Όρους χρήσης του QuizBeat;
    </b><br>
    Διαβάστε τους Όρους χρήσης και πολιτική απορρήτου για περισσότερες πληροφορίες.
    <br><br>
    <b>
        Πώς μπορώ να υποβάλω μια καταγγελία σχετικά με  πνευματικά δικαιώματα, πλαστοπροσωπία,  εμπορικό σήμα ή άλλα θέματα;
    </b><br>
    Ανατρέξτε στην ενότητα "Όροι χρήσης" για να μάθετε τι συνιστά παραβίαση και πώς να καθορίσετε ένα σχετικό πρόβλημα.
    <br><br> -->
    <b>
        Έχετε άλλα προβλήματα;
    </b><br>
    Επικοινωνήστε με το info@quizbeat.co για τυχόν προβλήματα που αντιμετωπίζετε με το app.
</div>

