﻿
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div align="center" style="background-color:dodgerblue; height:1000px">
    <img style="width:160px; margin-top:150px;" src="~/Images/Web/qb_logo.png" />
    <div style="font-size:15px;">
        Επαναφορά Password
    </div>
    <div>
        <input id="Text1" type="text" placeholder="Νεο Password" style="width:250px; margin-top:5px;" />
    </div>
    <div>
        <input id="Text2" type="text" placeholder="Επαλήθευση Νέου Password" style="width:250px; margin-top:5px;" />
    </div>
    <div>
        <button id="resetButton" type="button" class="btn btn-danger" onclick="ResetPassword()" style="width:250px; margin-top:5px;">Επαναφορά</button>
    </div>
    <div id="resp1" style="display: none;">
        Το password σας αλλαξε.
    </div>
    <div id="resp2" style="display: none;">
       Κάποιο πρόβλημα παρουσιάστηκε.
    </div>
    <div id="resp3" style="display: none;">
        Δεν επαληθεύσατε το password σωστά.
    </div>
</div>
